@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* .container {
  max-width: 100%;
} */

pre.ascii-art {
  font-size: 10px;
  line-height: 1.2em;
  /* height: 30lh; */
  /* background-color: black; */
  /* color: rgb(215, 215, 215); */
  /* margin: auto; */
  /* white-space: pre; */
  /* @apply text-[10px]leading-none; */
}

h1 {
    @apply text-3xl md:text-4xl font-semibold mb-6;
}

h2 {
    @apply text-xl md:text-2xl font-medium mt-4 mb-6;
}

h3 {
    @apply text-lg md:text-xl font-medium mb-4;
}

h4 {
    @apply md:text-lg font-semibold;
}