<.flash_group flash={@flash} />
<div class="width-3xl">
  <h1>Replaying your request</h1>
  <p><%= "This Machine is #{@this_machine}. Requested #{@machine}." %></p>
  <p><%= "Forwarding you to Machine #{@machine}" %></p>
</div>
